@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.app {

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .title {
    margin: 1rem;
  }
  .options {
    margin: 1rem;
    p {
      width: 100%;
      font-weight: bold;
    }
    label {
      margin-right: 1rem;
    }

    &-grade, &-subject {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      input {
        display: none;

        &:checked {
          & + label:before {
            content: '☑';
          }
        }
      }

      label {
        width: 8rem;
        cursor: pointer;

        &:before {
          margin-right: .25rem;
          content: '☐';
          font-size: 1.5rem;
          line-height: 1rem;
        }
      }
    }

    &-grade {
      label {
        width: 3.5rem;
      }
    }

    &-amount {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      &-select {
        align-items: center;
        margin-left: 1rem;
      }

      label {
        white-space: nowrap
      }
      p {
        width: min-content;
        margin-left: .5rem;
        white-space: nowrap;
      }
    }
  }

  .header {
    margin: 1rem;
    font-weight: bold;
  }

  .quiz {

    &-question {
      display: block;
      padding: .5rem 1.5rem;
      break-after: auto;
      break-inside: avoid;

      &-text {
        display: inline;
        font-size: 1.25rem;
        font-weight: bold;
      }

      &-subjects {
        display: none;
        margin: .5rem 0;

        &-subject {
          display: inline;
          padding: .25rem .5rem;
          margin: .25rem;
          background: lightblue;
          border-radius: .5rem;
          color: white;
          font-size: .75rem;
          font-weight: bold;
          white-space: nowrap;
        }
      }

      &-answers {
        padding-inline-start: 1rem;
      }

      &-grades {
        font-size: .75rem;
      }
    }

    // &:empty:after {
    //   padding: .5rem 1.5rem;
    //   content: 'no questions yet'
    // }
  }
}
